body{
    height: 100vh;
    background:rgb(19,25,33);
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page{
    width: 450px;
    background-color: violet;
    color:white;
    background: transparent;
    border: 1px solid grey;
}

a{
    text-decoration: none;
    color: blue;
}

.login-page h1{
    font-size: 36px;
    text-align: center;
}

.login-page .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 400px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    padding-left: 20px;
    border: none;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.input-box input::placeholder{
    color: white;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button{
    background-color: blue;
    color: white;   
    padding: 10px 170px;
    border-radius: 20px;
}